p {font-size:32px;color:red;background-color:powderblue;text-align:center}
h1 {text-align:center;font-size:40px;background-color:rgba(255, 255, 128, .5);}
table {text-align:center;margin:auto;font-size:30px;}
th,td,table {border:8px groove #e3821c;border-collapse:collapse;padding:25px;}
.c {background-color:#c8e7cc}
.c2 {background-color:#90df9a}
th {color:white;background-color:#20bd07}
